.header {
    grid-area: h;
    background-color: #8FBC8F;
  }
  
  .header img {
      width: 35px;
      opacity: 0.4;
      padding: 5px;
      border-radius: 25px;
  }

  .loginBlock {
      float: right;
  }
  .loginBlock a {
   color: lightblue;
  }